<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sisells.demo.dao.ClassroomInfoSql">
    <select id="selectAllClassroomInfo" resultType="top.sisells.demo.pojo.ClassroomInfo">
        select * from classroominfo
        <where>
            <if test="classroomName !=null and classroomName !='' ">
                classroomName like "%"#{classroomName}"%"
            </if>
        </where>
    </select>
    <delete id="deleteClassroom">
        delete from classroominfo where classroomName = #{classroomName}
    </delete>
    <insert id="insertClassroom" parameterType="top.sisells.demo.pojo.ClassroomInfo">
        insert IGNORE into classroominfo (classroomName,seatCount) values (#{classroomName},#{seatCount})
    </insert>
</mapper>