<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sisells.demo.dao.TestPersonSql">
    <select id="selectAllTestPerson" resultType="top.sisells.demo.pojo.TestPerson">
        select * from testperson
    </select>
    <select id="selectTestPersonByTestId" resultType="top.sisells.demo.pojo.TestPerson">
        select * from testperson where testId = #{testId}
    </select>
    <insert id="insertTestPerson" parameterType="top.sisells.demo.pojo.TestPerson" >
        insert into testperson (testId, testName, testDate,testSegment, testClassroom, userNumber, userName)
        values (#{testId},#{testName},#{testDate},#{testSegment},#{testClassroom},#{userNumber},#{userName})
    </insert>
    <delete id="deleteTestPerson">
        delete from testperson where personId = #{personId}
    </delete>
</mapper>